<h1>Ups.. ah ocurrido un error al iniciar sesion</h1>
<br />
<table>
    <tr>
        <th>Usuario</th>
        <td>{{username}}</td>
    </tr>

    <tr>
        <th>Codigo error</th>
        <td>{{{estatusCode}}}</td>
    </tr>
</table>

<a href='/'>Inicio de sesión</a>
<br />
<br />
<a href='/registrer'>Registrarse</a>