<h3 class='login-registrer__title'>
    Iniciar sesión
</h3>
<form class='login-registrer__form'>
    <label for='email'>
        <span>Correo electronico</span>
        <input type='email' id='email' placeholder='example@mail.com' required />
    </label>
    <label for='password'>
        <span>Contraseña</span>
        <input type='password' id='password' placeholder='* * * * * *' required />
    </label>
    <a href="/registrer">¿Registrarse?</a> 
    <br/>
    <br/>
    <button id="btn" type='submit'>Ingresar</button>
</form>

<script>
    const inputForm = document.getElementById('email');
    const inputFormPassword = document.getElementById('password');
    const btnSubmit = document.getElementById('btn');

    btnSubmit.addEventListener('click', async (event)=>{
        event.preventDefault()

        const optionsPOST = {
        method: 'POST',
        body: JSON.stringify({email: inputForm.value, password: inputFormPassword.value}),
        headers: {
            'Content-Type': 'application/json',
        },
    };

    await fetch('/login', optionsPOST)
        .then((res) =>  {
            window.location.href = res.url;
        });
    })
</script>